build/*
!build/.gitkeep

bin/**/*.pdb
bin/**/*.zip
bin/**/*.json
bin/**/*.dem
bin/**/*.mp4

# bin/MulNX/Tools
bin/MulNX/Tools/*[Rr]e[Ss]hade*
bin/MulNX/Tools/dxgi.dll

# bin/Output/MulNX/Tools
bin/Output/MulNX/Tools/*[Rr]e[Ss]hade*
bin/Output/MulNX/Tools/dxgi.dll