build/*
!build/.gitkeep

bin/**/*.pdb
bin/**/*.zip
bin/**/*.json
bin/**/*.dem
bin/**/*.mp4

bin/Tools/dxgi.dll
bin/Tools/reshade-shaders/**
bin/Tools/ReShade.ini
bin/Tools/ReShade.log
bin/Tools/ReShadePreset.ini